.jumbotron {
  text-align: center;
  background-image: url(../img/banner.jpg);
  background-size: 100%;
  color: rgba(90, 25, 28, 1);
}

.container {
  background-color: rgba(239, 180, 112, .25);
  opacity: .90;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.container h5, h2, p {
  font-variant: small-caps;
}
